.container {
    padding: 50px 0 0 0;
}

.carousel-container {
  width: 200px;
  height: 250px;
  cursor: pointer;
  transition: transform 0.4s ease-out;
}

.carousel-container:hover {
  transform: scale(1.2);
  transition: transform 0.4s ease-out;
}

.object-fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover; /*magic*/
}

.lazy-container{
    background-color: red;
    height: 300px;
    width: 500px;
}
