
<div *ngIf="images.length > 50; else lazy" class="container">
    <p-carousel [value]="images" [numVisible]="10" [numScroll]="1" [showIndicators]="false" [autoplayInterval]="3000">
      <ng-template let-image pTemplate="item">
        <div class="carousel-container">
            <img class="object-fit-cover" src="{{ image.url }}" alt="{{ image.title }}" (click)="openDialog(image)"/>
        </div>
      </ng-template>
    </p-carousel>
</div>
<ng-template #lazy class="lazy-container">
    <div class="col-12">
      <p-skeleton shape="square" width="100%" height="100%"></p-skeleton>
    </div>
</ng-template>