
::ng-deep .custom-dialog > mat-dialog-container {
  background-color: transparent;
}

::ng-deep.mat-dialog-container {
  padding: 0px;
  overflow-x: hidden;
}

.author_images{
  cursor: pointer;
}

.card-img{
  width: 100%;
  height: 100%;
  max-height: 80vh;
  object-fit: cover;
}

.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
}

.mat-dialog-content {
  max-height: initial;
}

.information {
  padding: 20px;
  background-color: transparent;
}

.information-header {
  display: flex;
  justify-content: space-between;
}

.information-header-user {
  display: flex;
}

.information-header-user h2 {
  margin: auto 0 auto 10px;
}

.information-header-user img {
  margin: auto 0;
}

.information-header-date {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information-header-date-views {
  display: flex;
  align-items: center;
}

.information-header-date-views h2{
  margin: auto 0 auto 10px;
}

.information-content {
  padding: 20px 10px 0 10px;
}

.information-content-description-content {
  text-align: justify;
}

.photos-title {
  padding: 20px 20px 20px 20px;
  background-color: #f5f5f5;
  font-size: 18px;
  text-align: center;
}

.comment-content {
  padding: 0 10px;
  text-align: justify;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.comment-header div {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.comment-header div h2{
  margin: auto;
  padding: 0 10px;
}

.tabs {
  max-width: 100%;
}

.information-location {
  display: flex;
  padding: 20px 0 0 10px;
}

.information-location p {
  margin-top: 5px;
}

::ng-deep .mat-list .mat-list-item .mat-line{
  word-wrap: break-word;
  white-space: pre-wrap;
}

::ng-deep  .mat-list .mat-list-item{
  height:initial!important;
}